* {
  font:11px/1.5 Helvetica,Arial,Verdana,sans-serif;
}

body,
html {
  height:100%;
  margin:0;
  padding:0;
}

body {
  background:#1477b8 url('login_bg.gif') center -525px;
}

table {
  border-spacing:0;
}

td {
  padding:0;
  display:block;
}

label {
  text-align:left;
  width:100px;
  display:inline;
  float:left;
  font-weight:bold;
  font-size:10px;
  line-height:1;
  margin-right:10px;
  padding-top:7px;
  padding-bottom:3px;
  color:#b2b2b2;
}

a, a:visited, a:active {
  outline:none;
  text-decoration:none;
  color:#555;
  font-size:100%;
}

#login-box {
  top:100px;
}

#headline-container {
  width:399px;
  height:69px;
  background:url('mosaic_login.png') no-repeat;
  text-indent:-9999px;
  display:block;
  text-align:left;
  border:none;
  margin:0;
  padding:0 0 20px 0;
}

#logo {
  display:none;
}

#login-form-container {
  width:288px;
  height:187px;
  background:url('login_box.png') no-repeat;
  padding:50px 53px 60px 58px;
  position:relative;
}

#login-form {
  padding:0;
}

#form-layout {
  top:0;
}

#form-layout td {
  text-align:left;
  padding:0;
}

#username-container input,
#password-container input {
  border-collapse:collapse;
  box-shadow:inset 1px 1px 3px #cbcbcb;
  -moz-box-shadow:inset 1px 1px 3px #cbcbcb;
  -webkit-box-shadow:inset 1px 1px 3px #cbcbcb;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  -khtml-border-radius:3px;
  border-radius:3px;

  border:solid 1px #b9c8e4;
  padding:3px 10px;

  width:261px;
  height:30px;
  float:left;
  font-size:20px;
  color:#444;
}

#username-container input {
  margin-bottom:5px;
}

#username-container input:focus,
#password-container input:focus {
  border-color:#94aad5;
  background:#fff;
}

#form-layout td#submit-container {
  text-align:left;
  padding-right:0;
}

#submit-container input {
  background:url('login_btn.png') no-repeat;
  text-indent:-9999px;
  display:block;
  width:100%;
  height:40px;
  margin-top:30px;

  border:none;
  padding:0;
}

#submit-container input:hover{
  background-position:0 -40px;
}

#form-layout td#infoline {
  width:399px;
  height:65px;
  background:url('box_footer.png') no-repeat;
  color:#fff;
  font-size:12px;
  text-align:center;
  padding-top:15px;

  position:absolute;
  bottom:-136px;
  left:-58px;
}

#infoline a{
  color:#b4c9d8;
}

#messagebox-container {
  position:absolute;
  top:268px;
  left:59px;
  z-index:1;
  padding:0;
}

div.mistake {
  background-image:none;
  padding:0;
  width:100%;
  font-size:100%;
  min-height:0;
  color:#EC4747;
}
