<h1 class='login_header'><%= @organization %> Login</h1>
<div id='login_box'>
  <div class='login_form'>
    <%= erb(:_login_form, :layout => false) %>
  </div>
</div>
<div class='footer'>
  <%= @infoline %>
</div>
